body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root {
    height: 100%;
}

.planBox {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    border: solid 1px;
    overflow: hidden;
}

.plan-form {
    width: 700px;
    border-right: solid 1px;
    padding: 10px;
}

.plan-form>div {
    margin-top: 15px;
}

.plan-table {
    width: calc(100% - 700px)
}

label {
    width: 100px;
}

table {
    border: solid 1px;
}

thead {
    font-weight: bold;
    background: #DDD;
    text-align: center;
}

tfoot {
    font-weight: bold;
    text-align: center;
}

td {
    border: solid 1px;
    width: 20px;
    height: 10px;
}